@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="password"], input[type="text"], input[type="email"] {
    @apply border my-1 py-2 px-3 rounded-2xl w-full
}

button.primary{
    @apply bg-primary my-1 py-2 px-3 rounded-2xl text-white w-full
}